@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Handing-中国首个起重机械开放性服务平台</title>
    <meta name="baidu-site-verification" content="2Lkh1N0Y9U" />
    <meta name="keywords" content="安全检测、云数据、智能报价、云计算" />
    <meta name="description" content="Handing是中国最先建立的监控服务商,专注于提供可靠的起重监控,数据采集、载荷分析等服务。" />
    @*<link rel="stylesheet" type="text/css" href="../Content/css/style.css" />*@

    <script>

        function openwin() {
            var fu = $("#hidenx").val();
            if (fu === "xiangxing") {
                window.open("/Reports/StiffnessBox.aspx", "newwindow", "height=560, width=800") //写成一行

            }
            if (fu === "juxing") {
                window.open("/Reports/StiffnessRec.aspx", "newwindow", "height=560, width=800")
            }
        }
    </script>
</head>
<body data-spy="scroll" data-target="#navbar-example" style="position: relative;">
    <div class="mobile-wrapper">

        @***************产品中心-弯距*****************@
        <div class="submain-navbg"></div>
        <div class="main">
            <div class="sub-main product">
                <div class="nav-wrap">
                    <h2>设计开发<span class="en">DESIGN</span></h2>
                    <ul class="main-nav">
                        <li class="first-node father">
                            通用计算
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class="focus">
                                    <a href="/Product/Stiffness">
                                        <i class="icon-wanju"></i>
                                        弯矩计算 Bending Moment
                                    </a>
                                </li>
                                <li class=" 强度">
                                    <a href="/Product/Strength">
                                        <i class="icon-clear-formatting"></i>
                                        截面特性 Section Property
                                    </a>
                                </li>
                                <li class=" 稳定性">
                                    <a href="/Product/Stability">
                                        <i class="icon-download"></i>
                                        强度计算 Intensity
                                    </a>
                                </li>
                                <li class=" 刚度计算">
                                    <a href="/Product/Fatigue">
                                        <i class="icon-download3"></i>
                                        刚度计算 Stiffness
                                    </a>
                                </li>
                                @*<li class=" 车轮计算">
                                    <a href="/Product/Drum">
                                        <i class="icon-spinner4"></i>
                                        车轮计算 Wheel
                                    </a>
                                </li>*@
                                <li class=" 轴承设计">
                                    <a href="/Product/Bearing">
                                        <i class="icon-bearing"></i>
                                        轴承设计 Bearing
                                    </a>
                                </li>
                                @*<li class=" 整机">
                                        <a href="/site/product/udhost.html">
                                            <i class="icon__udhost prod"></i>
                                            整机 Crane
                                        </a>
                                    </li>
                                    <li class=" 其它">
                                        <a href="/site/product/ucf.html">
                                            <i class="icon__ucf prod"></i>
                                            其它 About
                                        </a>
                                    </li>*@

                            </ul>
                        </li>
                        <li class="first-node father">
                            模块设计
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 车轮组模块">
                                    <a href="/Product/Drum">
                                        <i class="icon-wheel"></i>
                                        车轮组模块 Wheel Block
                                    </a>
                                </li>
                                <li class=" 端梁模块">
                                    <a href="/Product/Endbeam">
                                        <i class="icon-endbeam"></i>
                                        端梁模块 EndBeam Block
                                    </a>
                                </li>
                                <li class=" 主梁模块">
                                    <a href="/Product/Girder">
                                        <i class="icon-girder"></i>
                                        主梁模块 Girder Block
                                    </a>
                                </li>
                                <li class=" 起升模块">
                                    <a href="/Product/Lifting">
                                        <i class="icon-lifting"></i>
                                        起升模块 Lifting Block
                                    </a>
                                </li>
                                <li class=" 葫芦模块">
                                    <a href="/Product/Hoisting">
                                        <i class="icon-hoist"></i>
                                        葫芦模块 Hoist Block
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="first-node father">
                            产品设计
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 桥式起重机">
                                    <a href="/Product/Bridge">
                                        <i class="icon-brigecrane"></i>
                                        桥式起重机 Bridge Crane
                                    </a>
                                </li>
                                <li class=" 门式起重机">
                                    <a href="/Product/Gantry">
                                        <i class="icon-gantrycrane"></i>
                                        门式起重机 Gantry Crane
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="first-node father">
                            软件开发
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" HD报价系统">
                                    <a href="/Product/HDQuotation">
                                        <i class="icon-file-text"></i>
                                        HD报价系统 HDQuotation
                                    </a>
                                </li>
                                <li class=" 生产辅助设计系统">
                                    <a href="/Product/HDProduce">
                                        <i class="icon-produce"></i>
                                        生产辅助设计系统 HDProduce
                                    </a>
                                </li>

                            </ul>
                        </li>
                        @*<li class="first-node father">
                                数据采集
                                <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                                <ul class="nav">
                                    <li class=" 视频云">
                                        <a href="/site/product/uvideo.html">
                                            <i class="icon__uvideo prod"></i>
                                            视频云 UVideo
                                        </a>
                                    </li>
                                    <li class=" 直播云">
                                        <a href="/site/product/ulive.html">
                                            <i class="icon__ulive prod"></i>
                                            直播云 ULive
                                        </a>
                                    </li>
                                    <li class=" 移动应用加速">
                                        <a href="/site/product/umaa.html">
                                            <i class="icon__umaa prod"></i>
                                            移动应用加速 UMAA
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="first-node father">
                                数据分析
                                <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                                <ul class="nav">
                                    <li class=" AI在线服务">
                                        <a href="/site/product/uaiservice.html">
                                            <i class="icon__uai prod"></i>
                                            AI在线服务 UAI-Service
                                        </a>
                                    </li>
                                    <li class=" 数据仓库">
                                        <a href="/site/product/udw.html">
                                            <i class="icon__udw prod"></i>
                                            数据仓库 UDW
                                        </a>
                                    </li>
                                    <li class=" 分布式消息系统">
                                        <a href="/site/product/ukafka.html">
                                            <i class="icon__ukafka prod"></i>
                                            分布式消息系统 UKafka
                                        </a>
                                    </li>
                                    <li class=" 托管集群">
                                        <a href="/site/product/uhadoop.html">
                                            <i class="icon__uhadoop prod"></i>
                                            托管集群 UHadoop
                                        </a>
                                    </li>
                                    <li class=" 分布式数据处理">
                                        <a href="/site/product/uddp.html">
                                            <i class="icon__uddp prod"></i>
                                            分布式数据处理 UDDP
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="first-node father">
                                管理&监控
                                <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                                <ul class="nav">
                                    <li class=" 基础安全服务">
                                        <a href="/site/product/usec.html">
                                            <i class="icon__usec prod"></i>
                                            基础安全服务 USec
                                        </a>
                                    </li>
                                    <li class=" 企业应用防火墙">
                                        <a href="/site/product/uewaf.html">
                                            <i class="icon__uewaf prod"></i>
                                            企业应用防火墙 UEWAF
                                        </a>
                                    </li>
                                    <li class=" 高防服务">
                                        <a href="/site/product/uads.html">
                                            <i class="icon__uads prod"></i>
                                            高防服务 UADS
                                        </a>
                                    </li>
                                    <li class=" 云加密服务">
                                        <a href="/site/product/uencrypt.html">
                                            <i class="icon__clock prod"></i>
                                            云加密服务 UEncrypt
                                        </a>
                                    </li>
                                    <li class=" 运维审计系统">
                                        <a href="/site/product/uhas.html">
                                            <i class="icon__uhas prod"></i>
                                            运维审计系统 UHAS
                                        </a>
                                    </li>
                                    <li class=" Web漏洞扫描">
                                        <a href="/site/product/uws.html">
                                            <i class="icon__uws prod"></i>
                                            Web漏洞扫描 UWS
                                        </a>
                                    </li>
                                    <li class=" SSL证书管理">
                                        <a href="/site/product/ussl.html">
                                            <i class="icon__ussl prod"></i>
                                            SSL证书管理 USSL
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="first-node father">
                                黑匣子
                                <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                                <ul class="nav">
                                    <li class=" 开放API">
                                        <a href="/site/product/api.html">
                                            <i class="icon__apikey prod"></i>
                                            开放API UAPI
                                        </a>
                                    </li>
                                    <li class=" 云监控">
                                        <a href="/site/product/umon.html">
                                            <i class="icon__umon prod"></i>
                                            云监控 UMon
                                        </a>
                                    </li>
                                    <li class=" 账号与权限管理">
                                        <a href="/site/product/uam.html">
                                            <i class="icon__qr-code prod"></i>
                                            账号与权限管理 UAM
                                        </a>
                                    </li>
                                    <li class=" 自动伸缩">
                                        <a href="/site/product/uas.html">
                                            <i class="icon__uas prod"></i>
                                            自动伸缩 UAS
                                        </a>
                                    </li>

                                </ul>
                            </li>*@
                        <li class="first-node father">
                            功能开发
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 自由开发">
                                    <a href="/Product/FreeDevelopment">
                                        <i class="icon-display"></i>
                                        自由开发 Free Development
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<a href="https://beianv2.ucloud.cn/dashboard">
                                <li class="first-node father">
                                    备案系统
                                </li>
                            </a>
                            <a href="/site/dc/">
                                <li class="first-node father">
                                    地域&数据中心
                                </li>
                            </a>
                            <a href="/site/rz/">
                                <li class="first-node father">
                                    可用区介绍
                                </li>
                            </a>
                            <a href="https://www.ucloud.cn/site/calculator.html" target="_blank">
                                <li class="first-node father">
                                    价格计算器
                                </li>
                            </a>*@
                    </ul>
                </div>
                <script>
                    (function () {
                        function foucs(i) {
                            if (i != null) {
                                $('.main-nav .first-node').eq(i).addClass('active').find('.nav li').hasClass('focus');
                            } else {
                                $('.main-nav .first-node').eq(i).addClass('focus')
                            }
                          
                        }
                        foucs({
                            118: 0,
                            229: 1,
                            230: 2,
                            119: 3,
                            215: 4,
                            120: 5,
                            217: 6,
                            121: 7,
                            122: 8,
                            123: 9,
                            128: 10,
                            307: 11
                        }[118]);
                    })();
                </script>

                <div class="content-wrap">
                    <div class="product-dash">
                        <div class="prod-img"></div>
                        <h2>
                            <i class="icon-wanju"></i>
                            弯矩计算
                            Bending Moment
                        </h2>
                        <hr />
                        <p>
                            弯矩（Bending Moment）：是任何结构设计都需面对的一个力学问题，同样也是起重机设计的一个基础参数，此计算目前仅集成简支梁的各种力学模型，并由资深设计师编制，经专家校审，并与云数据对比，所提供的计算结果安全、可靠。
                        </p>
                        <p>
                            优点：支持定制、扩展；提供计算报告打印、提供计算源码(C#、JavaScript)。

                        </p>
                        <hr />
                        <p>
                            欢迎您加入我们，针对此功能提供您宝贵的建议，我们将为您提供所需服务！
                        </p>
                        <div class="prod-operating">
                            @*<a href=https://consolev3.ucloud.cn/uhost/uhost class='button1 blue'>立即使用</a>*@
                            <a href="http://192.168.0.188:8078/forum.php?mod=viewthread&tid=8&extra=page%3D1" target="_blank" class='button1 white'>立即进入</a>
                        </div>
                    </div>
                    <form class="form-horizontal" role="form" id="form1" autocomplete="off" action="Stiffness" method="post">
                        <div id="navbar-example">
                            <ul class="sub-tabs-x anchor nav nav-tabs" role="tablist">
                                <li>
                                    <a href='#odds'>力学模型</a>
                                </li>

                                <li>
                                    <a href='#jiage'>参数输入</a>
                                </li>

                                <li>
                                    <a href='#docs-log'>计算报告</a>
                                </li>

                                <li>
                                    <a href='#case'>更新说明</a>
                                </li>
                            </ul>
                        </div>
                        <script>
                            $('.sub-tabs-x li:eq(0)').addClass('active');
                        </script>

                        <div class="tab-content sub-tab-cont">
                            <div id="odds">
                                <h2 class="h2">
                                    力学模型
                                </h2>
                                <!--箱型梁输入参数计算-->
                                <div class="form-group">

                                    <table>
                                        <tr>
                                            <td width="100" height="50" align="right">
                                                <h3 style="font-size:large">&nbsp; 简支梁☞&nbsp;</h3>
                                            </td>
                                            <td>
                                                <a href="#jiage"><img id="img1" src="/Content/image/bendingcal/bending-jianzhi-2-gray.png" onclick="change_pic1();" title="跨中集中力" width="100" height="50" /></a>
                                            </td>
                                            <td>
                                                &nbsp; &nbsp;<a href="#jiage"><img id="img2" src="/Content/image/bendingcal/bending-jianzhi-3-gray.png" onclick="change_pic2();" title="偏心集中力" width="100" height="50" /></a>
                                            </td>
                                            <td>
                                                &nbsp; &nbsp;<a href="#jiage"><img id="img3" src="/Content/image/bendingcal/bending-jianzhi-4-gray.png" onclick="change_pic3();" title="俩集中力" width="100" height="50" /></a>
                                            </td>
                                            <td>
                                                &nbsp; &nbsp;<a href="#jiage"><img id="img4" src="/Content/image/bendingcal/bending-jianzhi-5-gray.png" onclick="change_pic4();" title="均布载荷" width="100" height="50" /></a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="100" height="50" align="right" class="alert-link">
                                                <h3 style="font-size:large">&nbsp; 悬臂梁☞&nbsp;</h3>
                                            </td>
                                            <td>
                                                <a href="#jiage"><img id="img5" src="/Content/image/bendingcal/bending-xuanbi-2-gray.png" onclick="change_pic5();" title="跨中集中力" width="100" height="50" /></a>
                                            </td>
                                            <td>
                                                &nbsp; &nbsp;<a href="#jiage"><img id="img6" src="/Content/image/bendingcal/bending-xuanbi-3-gray.png" onclick="change_pic6();" title="偏心集中力" width="100" height="50" /></a>
                                            </td>
                                            <td>
                                                &nbsp; &nbsp;<a href="#jiage"><img id="img7" src="/Content/image/bendingcal/bending-xuanbi-4-gray.png" onclick="change_pic7();" title="均布载荷" width="100" height="50" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="form-group">
                                        <script>

                                            var f = 0;
                                            function change_pic1() {
                                                f = 1;
                                                var imgObj = document.getElementById("img1"); var bigObj = document.getElementById("big_img0");

                                                var imgObj2 = document.getElementById("img2");
                                                var imgObj3 = document.getElementById("img3");
                                                var imgObj4 = document.getElementById("img4");
                                                var imgObj5 = document.getElementById("img5");
                                                var imgObj6 = document.getElementById("img6");
                                                var imgObj7 = document.getElementById("img7");
                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-2-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-jianzhi-2.png" : "/Content/image/bendingcal/bending-jianzhi-2-gray.png";
                                                if (imgObj.getAttribute("src", 3) == "/Content/image/bendingcal/bending-jianzhi-2-gray.png") {

                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-2.png";//唯一
                                                    bigObj.src = "/Content/image/bendingcal/bending-jianzhi-2.png";//唯一

                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png"
                                                    imgObj5.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""



                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "";
                                                    document.getElementById("tr_L").hidden = "";

                                                }
                                                else {

                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"

                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                }

                                            }

                                            function change_pic2() {
                                                f = 2;
                                                var imgObj = document.getElementById("img2"); var bigObj = document.getElementById("big_img0");
                                                var imgObj2 = document.getElementById("img1");
                                                var imgObj3 = document.getElementById("img3");
                                                var imgObj4 = document.getElementById("img4");
                                                var imgObj5 = document.getElementById("img5");
                                                var imgObj6 = document.getElementById("img6");
                                                var imgObj7 = document.getElementById("img7");
                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-3-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-jianzhi-3.png" : "/Content/image/bendingcal/bending-jianzhi-3-gray.png";
                                                if (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-3-gray.png") {
                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-3.png";//唯一
                                                    bigObj.src = "/Content/image/bendingcal/bending-jianzhi-3.png";//唯一

                                                    //其他不相关图片清灰色
                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png"

                                                    imgObj5.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""

                                                    //显示文本框对应
                                                    document.getElementById("tr_A").hidden = "";
                                                    document.getElementById("tr_B").hidden = "";
                                                    document.getElementById("tr_F").hidden = "";
                                                    document.getElementById("tr_L").hidden = "";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                }
                                                else {
                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"

                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                }
                                            }

                                            function change_pic3() {
                                                f = 3;
                                                var imgObj = document.getElementById("img3"); var bigObj = document.getElementById("big_img0");

                                                var imgObj2 = document.getElementById("img1");
                                                var imgObj3 = document.getElementById("img2");
                                                var imgObj4 = document.getElementById("img4");
                                                var imgObj5 = document.getElementById("img5");
                                                var imgObj6 = document.getElementById("img6");
                                                var imgObj7 = document.getElementById("img7");
                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-4-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-jianzhi-4.png" : "/Content/image/bendingcal/bending-jianzhi-4-gray.png";
                                                if (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-4-gray.png") {
                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-4.png"
                                                    bigObj.src = "/Content/image/bendingcal/bending-jianzhi-4.png"
                                                    //
                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png"

                                                    imgObj5.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""

                                                    //
                                                    document.getElementById("tr_F").hidden = "";
                                                    document.getElementById("tr_A").hidden = "";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                }
                                                else {
                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"

                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                }
                                            }

                                            function change_pic4() {
                                                f = 4;
                                                var imgObj = document.getElementById("img4"); var bigObj = document.getElementById("big_img0");

                                                var imgObj2 = document.getElementById("img2");
                                                var imgObj3 = document.getElementById("img3");
                                                var imgObj4 = document.getElementById("img1");
                                                var imgObj5 = document.getElementById("img5");
                                                var imgObj6 = document.getElementById("img6");
                                                var imgObj7 = document.getElementById("img7");

                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-5-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-jianzhi-5.png" : "/Content/image/bendingcal/bending-jianzhi-5-gray.png";
                                                if (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-jianzhi-5-gray.png") {
                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-5.png"
                                                    bigObj.src = "/Content/image/bendingcal/bending-jianzhi-5.png"
                                                    //
                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png"

                                                    imgObj5.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""

                                                    //
                                                    document.getElementById("tr_L").hidden = "";
                                                    document.getElementById("tr_Q").hidden = "";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                }
                                                else {
                                                    imgObj.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"

                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                }
                                            }

                                            function change_pic5() {
                                                f = 5;
                                                var imgObj = document.getElementById("img5"); var bigObj = document.getElementById("big_img0");

                                                var imgObj2 = document.getElementById("img2");
                                                var imgObj3 = document.getElementById("img3");
                                                var imgObj4 = document.getElementById("img4");
                                                var imgObj5 = document.getElementById("img1");
                                                var imgObj6 = document.getElementById("img6");
                                                var imgObj7 = document.getElementById("img7");
                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-xuanbi-2-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-xuanbi-2.png" : "/Content/image/bendingcal/bending-xuanbi-2-gray.png";
                                                if (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-xuanbi-2-gray.png") {
                                                    imgObj.src = "/Content/image/bendingcal/bending-xuanbi-2.png"
                                                    bigObj.src = "/Content/image/bendingcal/bending-xuanbi-2.png"
                                                    //
                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png"

                                                    imgObj5.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""

                                                    //
                                                    document.getElementById("tr_B").hidden = "";
                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "";
                                                }
                                                else {
                                                    imgObj.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"

                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                }
                                            }

                                            function change_pic6() {
                                                f = 6;
                                                var imgObj = document.getElementById("img6"); var bigObj = document.getElementById("big_img0");

                                                var imgObj2 = document.getElementById("img2");
                                                var imgObj3 = document.getElementById("img3");
                                                var imgObj4 = document.getElementById("img4");
                                                var imgObj5 = document.getElementById("img1");
                                                var imgObj6 = document.getElementById("img5");
                                                var imgObj7 = document.getElementById("img7");
                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-xuanbi-3-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-xuanbi-3.png" : "/Content/image/bendingcal/bending-xuanbi-3-gray.png";
                                                if (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-xuanbi-3-gray.png") {
                                                    imgObj.src = "/Content/image/bendingcal/bending-xuanbi-3.png"
                                                    bigObj.src = "/Content/image/bendingcal/bending-xuanbi-3.png"

                                                    //
                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png"

                                                    imgObj5.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""

                                                    //
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "";
                                                    document.getElementById("tr_L").hidden = "";
                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                }
                                                else {
                                                    imgObj.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"

                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                }
                                            }

                                            function change_pic7() {
                                                f = 7;
                                                var imgObj = document.getElementById("img7"); var bigObj = document.getElementById("big_img0");

                                                var imgObj2 = document.getElementById("img2");
                                                var imgObj3 = document.getElementById("img3");
                                                var imgObj4 = document.getElementById("img4");
                                                var imgObj5 = document.getElementById("img1");
                                                var imgObj6 = document.getElementById("img5");
                                                var imgObj7 = document.getElementById("img6");
                                                //var Flag = (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-xuanbi-4-gray.png")
                                                //imgObj.src = Flag ? "/Content/image/bendingcal/bending-xuanbi-4.png" : "/Content/image/bendingcal/bending-xuanbi-4-gray.png";

                                                if (imgObj.getAttribute("src", 2) == "/Content/image/bendingcal/bending-xuanbi-4-gray.png") {
                                                    imgObj.src = "/Content/image/bendingcal/bending-xuanbi-4.png"
                                                    bigObj.src = "/Content/image/bendingcal/bending-xuanbi-4.png"
                                                    //
                                                    imgObj2.src = "/Content/image/bendingcal/bending-jianzhi-3-gray.png"
                                                    imgObj3.src = "/Content/image/bendingcal/bending-jianzhi-4-gray.png"
                                                    imgObj4.src = "/Content/image/bendingcal/bending-jianzhi-5-gray.png"

                                                    imgObj5.src = "/Content/image/bendingcal/bending-jianzhi-2-gray.png"
                                                    imgObj6.src = "/Content/image/bendingcal/bending-xuanbi-2-gray.png"
                                                    imgObj7.src = "/Content/image/bendingcal/bending-xuanbi-3-gray.png"
                                                    document.getElementById("tips_c").innerHTML = ""

                                                    //
                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "";
                                                    document.getElementById("tr_L").hidden = "";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                }
                                                else {
                                                    imgObj.src = "/Content/image/bendingcal/bending-xuanbi-4-gray.png";
                                                    bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
                                                    document.getElementById("tips_c").innerHTML = "<p>提示：请先选择力学模型</p>"
                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "hidden";
                                                    document.getElementById("tr_L").hidden = "hidden";
                                                }
                                            }

                                            //var imgs = Array();
                                            //imgs[0] = "/Content/image/bendingcal/bending-jianzhi-2-gray.png";
                                            //imgs[1] = "/Content/image/bendingcal/bending-jianzhi-3-gray.png";
                                            //imgs[2] = "/Content/image/bendingcal/bending-jianzhi-4-gray.png";
                                            //imgs[3] = "/Content/image/bendingcal/bending-jianzhi-5-gray.png";

                                            //imgs[4] = "/Content/image/bendingcal/bending-jianzhi-2.png";
                                            //imgs[5] = "/Content/image/bendingcal/bending-jianzhi-3.png";
                                            //imgs[6] = "/Content/image/bendingcal/bending-jianzhi-4.png";
                                            //imgs[7] = "/Content/image/bendingcal/bending-jianzhi-5.png";

                                            //imgs[8] = "/Content/image/bendingcal/bending-xuanbi-2-gray.png";
                                            //imgs[9] = "/Content/image/bendingcal/bending-xuanbi-3-gray.png";
                                            //imgs[10] = "/Content/image/bendingcal/bending-xuanbi-4-gray.png";

                                            //imgs[11] = "/Content/image/bendingcal/bending-xuanbi-2.png";
                                            //imgs[12] = "/Content/image/bendingcal/bending-xuanbi-3.png";
                                            //imgs[13] = "/Content/image/bendingcal/bending-xuanbi-4.png";

                                            function jianzhi_xuanbi_() {
                                                var F, L, a, b, q;
                                                var F1max, F2max, F3max, F4max;
                                                F = document.getElementById("sti_force2").value;
                                                L = document.getElementById("sti_wheelbase").value;
                                                a = document.getElementById("sti_rec_L1").value;
                                                b = document.getElementById("sti_rec_t1").value;
                                                q = document.getElementById("sti_rec_t").value;
                                                //F = document.getElementById("").value;
                                                //F1max = F*(L / 1000) / 4;                //跨中集中力
                                                //F1max = F * (a / 1000) * (b / 1000) / L;//偏心集中力
                                                //F1max = F * (a / 1000);                 //俩集中力
                                                // F1max = Math.sqrt((L / 1000), 2) / 8;   //均布载荷



                                                if (f == 1) {
                                                    F1max = F * (L / 1000) / 4;                //跨中集中力
                                                    //alert("1=="+F1max)
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果
                                                }
                                                if (f == 2) {
                                                    F1max = F * (a / 1000) * (b / 1000) / (L / 1000);//偏心集中力
                                                    // alert("2=="+F1max)
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果

                                                }
                                                if (f == 3) {
                                                    F1max = F * (a / 1000);                 //俩集中力
                                                    //alert("3=="+F1max)
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果

                                                }
                                                if (f == 4) {
                                                    F1max = (L / 1000) * (L / 1000) * q * 9.81 / 8;  //局部载荷
                                                    //alert("4=="+F1max)
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果

                                                }

                                                if (f == 5) {
                                                    F1max = -(F * b / 1000);
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果

                                                }
                                                if (f == 6) {
                                                    F1max = -(F * L / 1000);
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果

                                                }
                                                if (f == 7) {
                                                    F1max = -(q * 9.81 * (L / 1000) * (L / 1000) / 2);
                                                    var txt_max = document.getElementById("txt_showresult").value = "≈" + Math.round(F1max * 100) / 100;//计算结果
                                                }

                                            }

                                            function m1() {
                                                var flag = this.change_pic1();
                                                if (flag == false) {
                                                    document.getElementById("tr_A").hidden = "hidden";
                                                    document.getElementById("tr_B").hidden = "hidden";
                                                    document.getElementById("tr_Q").hidden = "hidden";
                                                    document.getElementById("tr_F").hidden = "";
                                                    document.getElementById("tr_L").hidden = "";
                                                }
                                            }

                                            function m2() {
                                                document.getElementById("tr_A").hidden = "";
                                                document.getElementById("tr_B").hidden = "";
                                                document.getElementById("tr_F").hidden = "";
                                                document.getElementById("tr_L").hidden = "";
                                                document.getElementById("tr_Q").hidden = "hidden";
                                            }

                                            function m3() {

                                                document.getElementById("tr_F").hidden = "";
                                                document.getElementById("tr_A").hidden = "";
                                                document.getElementById("tr_Q").hidden = "hidden";
                                                document.getElementById("tr_L").hidden = "hidden";
                                                document.getElementById("tr_B").hidden = "hidden";
                                            }
                                            function m4() {
                                                document.getElementById("tr_L").hidden = "";
                                                document.getElementById("tr_Q").hidden = "";
                                                document.getElementById("tr_B").hidden = "hidden";
                                                document.getElementById("tr_A").hidden = "hidden";
                                                document.getElementById("tr_F").hidden = "hidden";
                                            }

                                        </script>


                                    </div>

                                </div>
                            <div id="jiage">
                                <h2 class="h2">
                                    参数输入
                                </h2>
                                <span id="tips_c">提示：请先选择力学模型</span>

                                <img id="big_img0" src="/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png" width="200" height="100" align="right" />
                                <div class="form-group">
                                    <table>
                                        <tr id="tr_F" hidden="hidden">
                                            <td>集中力&nbsp;F</td>
                                            <td><input oninput="jianzhi_xuanbi_(); shoowClass();" onkeyup='this.value=this.value.replace(/\D/gi,"")' title="请填写此字段。" class="form-control" id="sti_force2" name="sti_force2" type="text" placeholder="N" /></td>
                                            <td><i id="in_1" class=""></i></td>
                                        </tr>
                                        <tr id="tr_L" hidden="hidden">
                                            <td>跨度&nbsp;L</td>
                                            <td><input oninput="jianzhi_xuanbi_(); shoowClass();" onkeyup='this.value=this.value.replace(/\D/gi,"")' title="请填写此字段。" class="form-control" id="sti_wheelbase" name="sti_wheelbase" type="text" placeholder="mm" /></td>
                                            <td><i id="in_2" class=""></i></td>
                                        </tr>
                                        <tr id="tr_A" hidden="hidden">
                                            <td>集中力距离&nbsp;a&nbsp;&nbsp;&nbsp;</td>
                                            <td><input oninput="jianzhi_xuanbi_(); shoowClass();" onkeyup='this.value=this.value.replace(/\D/gi,"")' title="请填写此字段。" class="form-control" id="sti_rec_L1" name="sti_rec_L1" type="text" placeholder="mm" /></td>
                                            <td><i id="in_3" class=""></i></td>
                                        </tr>
                                        <tr id="tr_B" hidden="hidden">
                                            <td>集中力距离&nbsp;b&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td><input oninput="jianzhi_xuanbi_(); shoowClass();" onkeyup='this.value=this.value.replace(/\D/gi,"")' title="请填写此字段。" class="form-control" id="sti_rec_t1" name="sti_rec_t1" type="text" placeholder="mm" /></td>
                                            <td><i id="in_4" class=""></i></td>
                                        </tr>
                                        <tr id="tr_Q" hidden="hidden">
                                            <td>均布载荷&nbsp;q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            <td><input oninput="jianzhi_xuanbi_(); shoowClass();" onkeyup='this.value=this.value.replace(/\D/gi,"")' title="请填写此字段。" class="form-control" id="sti_rec_t" name="sti_rec_t" type="text" placeholder="kg/m" /></td>
                                            <td><i id="in_5" class=""></i></td>
                                        </tr>
                                    </table>
                                
                                </div>
                            </div>
                            <br />
                            <div id="docs-log">
                                <h2 class="h2">
                                    计算报告
                                </h2>
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <th>最大弯矩 M<sub>max</sub>:</th>
                                            <th><input id="txt_showresult" style="font-weight:800" onkeyup='this.value=this.value.replace(/\D/gi,"")' type="text" name="txt_showresult" placeholder="N*m" /></th>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <br />
                                <div id="case">
                                    <h2 class="h2">
                                        更新说明
                                    </h2>
                                    <div class="prod-anchor">
                                        <p class="text">
                                            暂未更新，敬请期待。
                                        </p>
                                        <br />
                                    </div>
                                </div>
                                </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
