@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Handing-强度计算</title>
    <meta name="baidu-site-verification" content="2Lkh1N0Y9U" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script>
        function openwin() {
            var fu = $("#hidenx").val();
            if (fu === "modle1") {
                window.open("/Reports/StrengthModel1.aspx", "newwindow", "height=560, width=800") //写成一行

            }
            if (fu === "modle2") {
                window.open("/Reports/StrengthModel2.aspx", "newwindow", "height=560, width=800")
            }
        }      
    </script>
</head>
@{

    //模型上 参数保存 
    string p = Request["sti_force"];
    string L = Request["sti_span"];
    string Qx = Request["sti_L1"];
    string Ix = Request["sti_t1"];
    string Yx = Request["sti_L2"];
    
    string txt_showresult = Request["txt_showresult"];
    string txt_showresult2 = Request["txt_showresult2"];

    Session["sti_force"] = p;
    Session["sti_span"] = L;
    Session["sti_L1"] = Qx;
    Session["sti_t1"] = Ix;
    Session["sti_L2"] = Yx;
    //模型二 参数保存
    string p1 = Request["sti_force0"];
    string L1 = Request["sti_span0"]; 
    string A1 = Request["sti_span01"];
    string Q1x = Request["sti_L01"];
    string I1x = Request["sti_t01"];
    string Y1x = Request["sti_L02"];


    Session["sti_force0"] = p1;
    Session["sti_span0"] = L1;
    Session["sti_span01"] = A1;
    Session["sti_L01"] = Q1x;
    Session["sti_t01"] = I1x;
    Session["sti_L02"] = Y1x;
    
    Session["txt_showresult"] = txt_showresult;
    Session["txt_showresult2"] = txt_showresult2;
}
<body data-spy="scroll" data-target="#navbar-example" style="position: relative;">
    <div class="mobile-wrapper">

        @***************产品中心-截面特性*****************@
        <div class="submain-navbg"></div>
        <div class="main">
            <div class="sub-main product">
                <div class="nav-wrap">
                    <h2>设计开发<span class="en">DESING</span></h2>
                    <ul class="main-nav">
                        <li class="first-node father">
                            通用计算
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 弯矩计算">
                                    <a href="/Product/Stiffness">
                                        <i class="icon-wanju"></i>
                                        弯矩计算 Bending Moment
                                    </a>
                                </li>
                                <li class="focus">
                                    <a href="/Product/Strength">
                                        <i class="icon-clear-formatting"></i>
                                        截面特性 Section Property
                                    </a>
                                </li>
                                <li class=" 强度计算">
                                    <a href="/Product/Stability">
                                        <i class="icon-download"></i>
                                        强度计算 Intensity
                                    </a>
                                </li>
                                <li class=" 刚度计算">
                                    <a href="/Product/Fatigue">
                                        <i class="icon-download3"></i>
                                        刚度计算 Stiffness
                                    </a>
                                </li>
                                @*<li class=" 车轮计算">
                                    <a href="/Product/Drum">
                                        <i class="icon-spinner4"></i>
                                        车轮计算 Wheel
                                    </a>
                                </li>*@
                                <li class=" 轴承设计">
                                    <a href="/Product/Bearing">
                                        <i class="icon-bearing"></i>
                                        轴承设计 Bearing
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="first-node father">
                            模块设计
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 车轮组模块">
                                    <a href="/Product/Drum">
                                        <i class="icon-wheel"></i>
                                        车轮组模块 Wheel Block
                                    </a>
                                </li>
                                <li class=" 端梁模块">
                                    <a href="/Product/Endbeam">
                                        <i class="icon-endbeam"></i>
                                        端梁模块 EndBeam Block
                                    </a>
                                </li>
                                <li class=" 主梁模块">
                                    <a href="/Product/Girder">
                                        <i class="icon-girder"></i>
                                        主梁模块 Girder Block
                                    </a>
                                </li>
                                <li class=" 起升模块">
                                    <a href="/Product/Lifting">
                                        <i class="icon-lifting"></i>
                                        起升模块 Lifting Block
                                    </a>
                                </li>
                                <li class=" 葫芦模块">
                                    <a href="/Product/Hoisting">
                                        <i class="icon-hoist"></i>
                                        葫芦模块 Hoist Block
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="first-node father">
                            产品设计
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 桥式起重机">
                                    <a href="/Product/Bridge">
                                        <i class="icon-brigecrane"></i>
                                        桥式起重机 Bridge Crane
                                    </a>
                                </li>
                                <li class=" 门式起重机">
                                    <a href="/Product/Gantry">
                                        <i class="icon-gantrycrane"></i>
                                        门式起重机 Gantry Crane
                                    </a>
                                </li>                                
                            </ul>
                        </li>
                        <li class="first-node father">
                            软件开发
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" HD报价系统">
                                    <a href="/Product/HDQuotation">
                                        <i class="icon-file-text"></i>
                                        HD报价系统 HDQuotation
                                    </a>
                                </li>
                                <li class=" 生产辅助设计系统">
                                    <a href="/Product/HDProduce">
                                        <i class="icon-produce"></i>
                                        生产辅助设计系统 HDProduce
                                    </a>
                                </li>                               

                            </ul>
                        </li>
                        @*<li class="first-node father">
                            数据采集
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 视频云">
                                    <a href="/site/product/uvideo.html">
                                        <i class="icon__uvideo prod"></i>
                                        视频云 UVideo
                                    </a>
                                </li>
                                <li class=" 直播云">
                                    <a href="/site/product/ulive.html">
                                        <i class="icon__ulive prod"></i>
                                        直播云 ULive
                                    </a>
                                </li>
                                <li class=" 移动应用加速">
                                    <a href="/site/product/umaa.html">
                                        <i class="icon__umaa prod"></i>
                                        移动应用加速 UMAA
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="first-node father">
                            数据分析
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" AI在线服务">
                                    <a href="/site/product/uaiservice.html">
                                        <i class="icon__uai prod"></i>
                                        AI在线服务 UAI-Service
                                    </a>
                                </li>
                                <li class=" 数据仓库">
                                    <a href="/site/product/udw.html">
                                        <i class="icon__udw prod"></i>
                                        数据仓库 UDW
                                    </a>
                                </li>
                                <li class=" 分布式消息系统">
                                    <a href="/site/product/ukafka.html">
                                        <i class="icon__ukafka prod"></i>
                                        分布式消息系统 UKafka
                                    </a>
                                </li>
                                <li class=" 托管集群">
                                    <a href="/site/product/uhadoop.html">
                                        <i class="icon__uhadoop prod"></i>
                                        托管集群 UHadoop
                                    </a>
                                </li>
                                <li class=" 分布式数据处理">
                                    <a href="/site/product/uddp.html">
                                        <i class="icon__uddp prod"></i>
                                        分布式数据处理 UDDP
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="first-node father">
                            管理&监控
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 基础安全服务">
                                    <a href="/site/product/usec.html">
                                        <i class="icon__usec prod"></i>
                                        基础安全服务 USec
                                    </a>
                                </li>
                                <li class=" 企业应用防火墙">
                                    <a href="/site/product/uewaf.html">
                                        <i class="icon__uewaf prod"></i>
                                        企业应用防火墙 UEWAF
                                    </a>
                                </li>
                                <li class=" 高防服务">
                                    <a href="/site/product/uads.html">
                                        <i class="icon__uads prod"></i>
                                        高防服务 UADS
                                    </a>
                                </li>
                                <li class=" 云加密服务">
                                    <a href="/site/product/uencrypt.html">
                                        <i class="icon__clock prod"></i>
                                        云加密服务 UEncrypt
                                    </a>
                                </li>
                                <li class=" 运维审计系统">
                                    <a href="/site/product/uhas.html">
                                        <i class="icon__uhas prod"></i>
                                        运维审计系统 UHAS
                                    </a>
                                </li>
                                <li class=" Web漏洞扫描">
                                    <a href="/site/product/uws.html">
                                        <i class="icon__uws prod"></i>
                                        Web漏洞扫描 UWS
                                    </a>
                                </li>
                                <li class=" SSL证书管理">
                                    <a href="/site/product/ussl.html">
                                        <i class="icon__ussl prod"></i>
                                        SSL证书管理 USSL
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="first-node father">
                            黑匣子
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 开放API">
                                    <a href="/site/product/api.html">
                                        <i class="icon__apikey prod"></i>
                                        开放API UAPI
                                    </a>
                                </li>
                                <li class=" 云监控">
                                    <a href="/site/product/umon.html">
                                        <i class="icon__umon prod"></i>
                                        云监控 UMon
                                    </a>
                                </li>
                                <li class=" 账号与权限管理">
                                    <a href="/site/product/uam.html">
                                        <i class="icon__qr-code prod"></i>
                                        账号与权限管理 UAM
                                    </a>
                                </li>
                                <li class=" 自动伸缩">
                                    <a href="/site/product/uas.html">
                                        <i class="icon__uas prod"></i>
                                        自动伸缩 UAS
                                    </a>
                                </li>

                            </ul>
                        </li>*@
                        <li class="first-node father">
                            功能开发
                            <span class="black-top mini left-nav-prod-pos"><i class="black-top1"></i></span>
                            <ul class="nav">
                                <li class=" 自由开发">
                                    <a href="/Product/FreeDevelopment">
                                        <i class="icon-display"></i>
                                        自由开发 Free Development
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <script>
                    (function () {
                        function foucs(i) {
                            if (i != null) {
                                $('.main-nav .first-node').eq(i).addClass('active').find('.nav li').hasClass('focus');
                            } else {
                                $('.main-nav .first-node').eq(i).addClass('focus')
                            }
                        }
                        foucs({
                            118: 0,
                            229: 1,
                            230: 2,
                            119: 3,
                            215: 4,
                            120: 5,
                            217: 6,
                            121: 7,
                            122: 8,
                            123: 9,
                            128: 10,
                            307: 11
                        }[118]);
                    })();
                </script>

                <div class="content-wrap">
                    <div class="product-dash">
                        @*<div class="prod-img"><img src='/uploads/160919/5-1609191S0411M.png' /></div>*@
                        <h2>
                            <i class="icon-clear-formatting"></i>
                            截面特性
                            Section Property
                        </h2>
                        <hr/>
                        <p>
                            截面特性（Section Property）：最主要的表现形式就是截面惯性矩，其值的大小是工程计算中必不可少的元素之一，同时也是起重机设计的一个重要指标，此计算由资深设计师编制，经专家校审，并与云数据对比，所提供的计算结果安全、可靠。
                        </p>
                        <p>
                            优点：支持定制、扩展；提供计算报告打印、提供计算源码(C#、JavaScript)。

                        </p>
                        <hr />
                        <p>
                            欢迎您进入我们的论坛，针对此功能提供您的宝贵建议，我们将为您提供所需服务！
                        </p>
                        <div class="prod-operating">
                            <a href="http://192.168.0.188:8078/forum.php?mod=viewthread&tid=9&extra=page%3D1" target="_blank" class='button1 white'>立即进入</a>
                        </div>
                    </div>
                    <form class="form-horizontal" role="form" id="form1" autocomplete="off" action="Strength" method="post">

                        <div id="navbar-example">
                            <ul class="sub-tabs-x anchor nav nav-tabs" role="tablist">
                                <li>
                                    <a href='#odds'>截面形状</a>
                                </li>

                                <li>
                                    <a href='#jiage'>参数输入</a>
                                </li>

                                <li>
                                    <a href='#docs-log'>计算报告</a>
                                </li>

                                <li>
                                    <a href='#case'>更新说明</a>
                                </li>

                            </ul>
                        </div>
                        <script>
                            $('.sub-tabs-x li:eq(0)').addClass('active');
                        </script>
                        <div class="tab-content sub-tab-cont">
                            <div id="odds">
                                <h2 class="h2">
                                    截面形状
                                </h2>
                                   <!--
                                           <section class="bendingcal-1">
                                        <div>
                                            <select onchange="createTable();" id="select1">
                                                <option value="0" class="bendingcal-option">请选择截面形状</option>
                                                <option value="1" class="bendingcal-option">箱型梁</option>
                                                <option value="2" class="bendingcal-option">矩形管</option>
                                            </select>
                                            <span id="select_1" class=""></span><span id="s_tips" style="font:red"></span>
                                        </div>
                                    </section>
                                    -->
                                    <table>
                                        <tr>
                                            <td width="100" height="50" align="right">
                                                <h3 style="font-size:large">箱型梁☞&nbsp;</h3>
                                            </td>
                                            <td>
                                                <a href="#jiage"><img id="img1" src="/Content/image/cal_sti-gray.png" onclick="change_pic1();" title="箱型梁模型" width="130" height="190" /></a>
                                            </td>
                                            <td width="100" height="50" align="right" class="alert-link">
                                                <h3 style="font-size:large">矩形管☞&nbsp;</h3>
                                            </td>
                                            <td>
                                                <a href="#jiage"><img id="img2" src="/Content/image/cal_sti1-gray.png" onclick="change_pic2();" title="矩形管模型" width="125" height="190" /></a>
                                            </td>
                                        </tr>

                                    </table>
                            </div>

                            <script>

    var f = 0;
    function change_pic1() {
        f = 1;
        var imgObj = document.getElementById("img1"); var bigObj = document.getElementById("big_img0");

        var imgObj2 = document.getElementById("img2");
   
        if (imgObj.getAttribute("src", 2) == "/Content/image/cal_sti-gray.png") {

            imgObj.src = "/Content/image/cal_sti.png";//唯一
            bigObj.src = "/Content/image/cal_sti.png";//唯一
            createTable_();

            imgObj2.src = "/Content/image/cal_sti1-gray.png"
            document.getElementById("tips_c").innerHTML = "";


        }
        else {
            imgObj.src = "/Content/image/cal_sti-gray.png";
            bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"

            div1.innerHTML = "";
            document.getElementById("tips_c").innerHTML = "<p>提示：请先选择截面模型</p>";

        }

    }

    function change_pic2() {
        f = 2;
        var imgObj = document.getElementById("img2"); var bigObj = document.getElementById("big_img0");
        var imgObj2 = document.getElementById("img1");
        if (imgObj.getAttribute("src", 2) == "/Content/image/cal_sti1-gray.png") {
            imgObj.src = "/Content/image/cal_sti1.png";//唯一
            bigObj.src = "/Content/image/cal_sti1.png";//唯一

            createTable_();
            //其他不相关图片清灰色
            imgObj2.src = "/Content/image/cal_sti-gray.png"
            document.getElementById("tips_c").innerHTML = "";

        }
        else {
            imgObj.src = "/Content/image/cal_sti1-gray.png";
            bigObj.src = "/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png"
            div1.innerHTML = "";
            document.getElementById("tips_c").innerHTML = "<p>提示：请先选择截面模型</p>";

        }
    }
    function createTable_() {
        var tableNode;

        //var a = document.getElementById("select1").value;
        tableNode = document.createElement("table");//获得对象  
        //tableNode.setAttribute("id", "table")
        var boxstring = new Array("上盖板宽 L1：", "上盖板厚 t1：", "下盖板宽 L2：", "下盖板厚 t2：", "右腹板厚 t3：", "左腹板厚 t4：", "腹板高 h:", "腹板边距 t5:", "腹板边距 t6:");
        var recstring = new Array("矩形管宽 L：", "矩形管高 h：", "矩形管厚 t：");
        switch (f) {
            //case "0":
            //document.getElementById("s_tips").style = "color:#FF0000";
            case 1:
                div1.innerHTML = "";
                for (var x = 0; x < boxstring.length; x++) {
                    var trNode = tableNode.insertRow();
                    trNode.innerHTML = "<td>" + boxstring[x] + "</td> <input oninput='bjxxl0_();showorhiddenicon();'onkeyup='num();' title='请填写此字段。' type='text' id='" + "input" + x + "' placeholder='mm'/> <span id='" + "in_" + x + "' class=''></span>";
                    document.getElementById("div1").appendChild(tableNode);//添加到那个位置 
                    //alert(trNode.innerHTML)
                }
                //document.getElementById("img-sticanshu").src = "../Content/image/cal_sti.png";

                break;
            case 2:
                div1.innerHTML = "";
                for (var x = 0; x < recstring.length; x++) {
                    var trNode = tableNode.insertRow();
                    trNode.innerHTML = "<td>" + recstring[x] + "</td> <input oninput='bjjxl0_();showorhiddenicon();'onkeyup='this.value=this.value.replace(/\D/gi," + '"' + '"' + ')' + "'title='请填写此字段。' type='text' id='" + "input" + x + "' placeholder='mm'/> <span id='" + "in_" + x + "' class=''></span>";

                    //alert(trNode.innerHTML);
                    document.getElementById("div1").appendChild(tableNode);//添加到那个位置 
                }
                //document.getElementById("img-sticanshu").src = "../Content/image/cal_sti1.png";

                break;
        }
    }
     //文本框小函数
    function num() {
        this.value = this.value.replace(/\D/gi, "");
    }
    //截面特性  箱型梁截面特性计算
    function bjxxl0_() {
     
            var platetolerance = 0.3; var squarerailheight = 40; var E = 210000;
            var x1 = parseInt($("#input0").val());//上盖板宽 L1
            var x2 = parseInt($("#input1").val());//上盖板厚 t1 
            var x3 = parseInt($("#input2").val());//下盖板宽 L2 
            var x4 = parseInt($("#input3").val());//下盖板厚 t2 
            var x5 = parseInt($("#input4").val());//右腹板厚 t3 
            var x6 = parseInt($("#input5").val());//左腹板厚 t4 
            var x7 = parseInt($("#input6").val());//腹板高度 h
            var x9 = parseInt($("#input8").val());//腹板边距 t6
            var x10 = parseInt($("#input7").val());//腹板边距 t5
            var x8 = x3 - x10 - x9 - x5 - x6;//L2 - t6 - t5 - t3-t4 计算出来

            //计算各钢板面积
            var A1 = x1 * x2;//上盖板面积
            var A2 = x3 * x4;//下盖板面积
            var A3 = x5 * x7;//主腹板面积
            var A4 = x6 * x7;//副腹板面积
            //var A5 = squarerailwidth * squarerailwidth;        //计算方钢轨道的面积
            //计算上盖板面积形心坐标
            var coordinatesX_A1 = x1 / 2;
            var coordinatesY_A1 = x2 / 2 + x4 + x7;
            //计算下盖板面积形心坐标
            var coordinatesX_A2 = x3 / 2;
            var coordinatesY_A2 = x4 / 2;
            //计算主腹板面积形心坐标
            var coordinatesX_A3 = x3 - x9 - x5 / 2;
            var coordinatesY_A3 = x7 / 2 + x4;
            //计算副腹板面积形心坐标
            var coordinatesX_A4 = x10 + x6 / 2;
            var coordinatesY_A4 = x7 / 2 + x4;
            //计算横梁截面形心坐标
            var coordinatesX = (A1 * coordinatesX_A1 + A2 * coordinatesX_A2 + A3 * coordinatesX_A3 + A4 * coordinatesX_A4) / (A1 + A2 + A3 + A4);
            var coordinatesY = (A1 * coordinatesY_A1 + A2 * coordinatesY_A2 + A3 * coordinatesY_A3 + A4 * coordinatesY_A4) / (A1 + A2 + A3 + A4);
            //计算垂直X轴和水平Y轴的惯性距
            var distancetoX = (x2 + x7 + x4) - coordinatesY - x2 / 2;//计算上盖板形心距形心x轴距离
            var maindistancetoY = x1 - coordinatesX - x9 - x5 / 2;//计算主腹板形心距形心y轴距离
            var assistantdistancetoY = coordinatesX - x10 - x6 / 2;//计算副腹板形心距形心y轴距离
            //var squarerailtoX = distancetoX;//计算方钢轨道距截面形心X轴距离  + squarerailheight / 2
            //垂直惯性矩Ix
            var inertiaIx = (x1 * x2 * x2 * x2 / 12) + (distancetoX * distancetoX * A1) + (x3 * x4 * x4 * x4 / 12) + ((coordinatesY - x4 / 2) * (coordinatesY - x4 / 2) * A2) + (x5 * x7 * x7 * x7 / 12) + (x6 * x7 * x7 * x7 / 12);
            //水平惯性距
            var inertiaIy = (x1 * x1 * x1 * x2 / 12) + (x3 * x3 * x3 * x4 / 12) + (x5 * x5 * x5 * x7 / 12) + (A3 * maindistancetoY * maindistancetoY) + (x6 * x6 * x6 * x7 / 12) + (A3 * assistantdistancetoY * assistantdistancetoY);

            var Ix = document.getElementById("txt_showresult").value = "≈" + Math.round(inertiaIx * 100) / 100;
            var Iy = document.getElementById("txt_showresult2").value = "≈" + Math.round(inertiaIy * 100) / 100;
    }
     //矩形梁计算过程
    function bjjxl0_() {
        ///矩形管计算参数
            var E = 210000;

            var B = $("#input0").val();
            var H = $("#input1").val();
            var t = $("#input2").val();

            var b1 = B - 2 * t;
            var h1 = H - 2 * t;
            var end_Ix = (B * H * H * H - b1 * h1 * h1 * h1) / 12;//垂直惯性距
            var end_Iy = (B * B * B * H - b1 * b1 * b1 * h1) / 12;//水平惯性距
            var Ix = document.getElementById("txt_showresult").value = "≈" + Math.round(end_Ix * 100) / 100;
            var Iy = document.getElementById("txt_showresult2").value = "≈" + Math.round(end_Iy * 100) / 100;
    }
</script>

                            <div id="jiage">
                                <h2 class="h2">
                                    参数输入
                                </h2>    
                                <div class="form-group">
                                    <span id="tips_c"><p>提示：请先选择截面模型</p></span>
                                    <img id="big_img0" src="/Content/image/5aa02f4b68d20c9d8ed9caf527e3ba.png" width="150" height="210" align="right" />

                                    <div id="div1">
                                    </div>
                                    @*<div>
                                        <ul class="sti_button">
                                            <li>
                                                <a href='#docs-log' class="button small button-ghost login tologin" onclick="model2()">提交</a>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>
                            </div>
                            <br />

                            <div id="docs-log">
                                <h2 class="h2">
                                    计算报告
                                </h2>
                                <div class="form-group">
                                        <table>
                                            <tr>
                                                <th>截面垂直惯性矩 Ix：</th>
                                                <th><input id="txt_showresult" style="font-weight:800" type="text" name="txt_showresult" placeholder="mm⁴" /></th>
                                            </tr>
                                            <tr>
                                                <th>截面水平惯性矩 Iy：</th>
                                                <th><input id="txt_showresult2" style="font-weight:800" type="text" name="txt_showresult2" placeholder="mm⁴" /></th>
                                            </tr>
                                        </table>
                                        <br />                               
                                </div>



                            </div>
                            <br />

                            <div id="case">
                                <h2 class="h2">
                                    更新说明
                                </h2>
                                <div class="prod-anchor">
                                    <p class="text">
                                        暂未更新，敬请期待。
                                    </p>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>        

 
            </div>
        </div>
    </div>
</body>
</html>




