
@{
    ViewBag.Title = "OAuthSnsApiUserInfo";
    Layout = null;

}
@{
    Layout = null;
}
<script>
    window.onload = function () {
        window.location.href = "http://www.hdmes.com";
    }
    //function skip() {
        //window.location.href = "http://www.hdmes.com";
    //}
</script>

@*<h2>微信用户:@ViewData["nickName"]||@Session["nickName"]</h2>*@

@*<h2>MyCOde=@ViewData["mycode"]</h2>
<h2>MyOpenID=@ViewData["myopenid"]</h2>
<h2>myAccessToken=@ViewData["myAccessToken"]</h2>
<h2>自定义：》》      @ViewData["newname"]</h2>
<h2>USERINFO===@ViewData["userInfo"]</h2>

<h2>的二次输出</h2>

<h2>MyCOde=@ViewData["mycode1"]</h2>
<h2>MyOpenID=@ViewData["myopenid1"]</h2>
<h2>myAccessToken=@ViewData["myAccessToken1"]</h2>
<h2>自定义：》》      @ViewData["newname1"]</h2>
<h2>错误 @ViewData["errmsg"]</h2>*@


