@{
   // Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}<link rel="stylesheet" media="screen" href="/Content/css/style.css">
    <div class="mobile-wrapper">    
        <link href="/Content/css/index.css" rel="stylesheet">

        @*主页交替图片*@
        <div class="bannerbg">
            <ul class="banner-list-index">
                                      
                <li class='active' style='display: block;' data-bgcolor=>
                    @*<a href='#' target="_blank">
                        <img class="pc-banner" src="../Content/image/index-1.png" alt="" />
                        <img class="mobile-banner" src="" alt="" />
                    </a>*@
                    <div id="particles-js">
                    </div>
                    <script src="/Content/js/jquery.particleground/particles.min.js"></script>
                    <script src="/Content/js/jquery.particleground/app.js"></script>
                </li>
                <li class='' style='display: none;' data-bgcolor=>
                    <a href='#' target="_blank">
                        <img class="pc-banner" src="../Content/image/201707251212.png" alt="" />
                        <img class="mobile-banner" src="" alt="" />
                    </a>
                </li>
                <li class='' style='display: none;' data-bgcolor=>
                    <a href='#' target="_blank">
                        <img class="pc-banner" src="../Content/image/201707251432.png" alt="" />
                        <img class="mobile-banner" src="" alt="" />
                    </a>
                </li>
                @*<li class='#' style='display: none;' data-bgcolor=>
                    <a href='' target="_blank">
                        <img class="pc-banner" src="../Content/image/index-4.png" alt="" />
                        <img class="mobile-banner" src="" alt="" />
                    </a>
                </li>*@
            </ul>
            @*<a class="carousel-control left icon-left"></a>
            <a class="carousel-control right icon-right"></a>*@
            <div class="dots-wrap-index">
            </div>
        </div>
        <ul class="odds-wear">
                <li>
                    <a class="odds" href="/product/Stiffness">
                        <img src="../Content/image/handing201706030259.png" />
                        <div class="odds-cent white">
                            <span class="odds-title en3">DESIGN </span> <span class="odds-subtit"> 自信向您推荐 </span> <span class="odds-word"> 中国首个起重机械设计开发平台 </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="odds" href="/site/about/news/recent/20170508/1091.html">
                        <img src="../Content/image/handing201706030304.png" />
                        <div class="odds-cent white">
                            <span class="odds-title en3">PRODUCT</span><span class="odds-subtit">历时多年精心打造</span> <span class="odds-word">Handing获得荣誉最高产品</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="odds" href="http://192.168.0.188:8088/">
                        <img src="../Content/image/handing201706030429.png" />
                        <div class="odds-cent dark">
                            <span class="odds-title en3">BIGDATA</span> <span class="odds-subtit">Handing智能大数据</span><span class="odds-word"><b>助您打造智能设备成就您的梦想</b></span>
                        </div>

                    </a>
                </li>
            <li>
                <a class="odds" href="/site/about/news/recent/20170508/1091.html">
                    <img src="../Content/image/handing201706030427.png" />
                    <div class="odds-cent dark">
                        <span class="odds-title en3">MARKET</span> <span class="odds-subtit">技术交易市场</span><span class="odds-word"><b>只有你想不到的没有我们做不到的</b></span>
                    </div>

                </a>
            </li>

            </ul>
        @*主页介绍内容*@
        <div class="main">           
            <h2 class="in-h2">产品持续更新 超出你所想象</h2>
            <div class="field-description">
                <p>
                    您的需求就是我们下一代产品。我们以企业级标准研发产品，同时不断革新，助您打造属于自己的智能设备。
                </p>
            </div>
        </div>
        <div class="new-prod">
            <div class="jiagoutu" id="productType">
                @*<video width="600" height="300" autoplay="autoplay" loop="loop">
                    <source src="http://www.w3school.com.cn/example/html5/mov_bbb.mp4" type="video/mp4">
                    <source src="http://www.w3school.com.cn/i/movie.ogg" type="video/ogg">

                    <source src="/Content/Movies/movie.ogg" type="video/ogg">
                </video>*@
            </div>
        </div>
        <div class="main">
            <h2 class="in-h2">设计计算功能完善，快捷可靠，支持定制</h2>
            <div class="field-description">
                <p>
                    专家团队精心打造，集成海量产品计算和设计，赶快去试一下，总有你想要的。
                </p>
            </div>
        </div>
        <div class="main in-solu">
            @*<a href="/site/active/yunhan.html" class="yunhan-img"></a>
            <h2 class="in-h2-t2">设计计算功能完善，快捷可靠，支持定制</h2>
            <div class="field-description">
                <p>
                    专家团队精心打造，集成海量产品计算和设计，赶快去试一下，总有你想要的。
                </p>
            </div>*@
            <div class="in-solu-cont">
                <div class="in-left-solu">

                </div>
            </div>
        </div>
        <div class="main">
            <h2 class="in-h2">数据采集分析 及时提供您所需</h2>
            <div class="field-description">
                <p>
                    起重机数据经科学分析，安全处理，专业及时提供。胸有成"数"，自当志在四海。
                </p>
            </div>
        </div>
          @*<div class="main-bg-blue">
                <div class="main pb70">
                    <h2 class="in-h2-t3 white">数据采集分析 及时提供您所需</h2>
                    <div class="field-description white">
                        <p>
                            起重机数据经科学分析，安全处理，专业及时提供。胸有成"数"，自当志在四海。
                        </p>
                    </div>
                </div>
            </div>*@
        <div class="new-prod">
            <div class="in-origin" id="inOrg">

            </div>
        </div>        
        <div class="main">
                <h2 class="in-h2 white">技术支持全面无死角 时刻准备者</h2>
                <div class="field-description white">
                    <p>
                        专家技术团队、经验丰富工程师；产品丰富多样；权威资质认证；全方位立体保障，无愧于您的信任。
                    </p>
                </div>
                <div class="in-safe-top">
                    <div class="indic resist">
                    </div>
                </div>

            </div>
        </div>
  
